<h1><%= @user['username'] %>'s Todos</h1>
<ul>
  <% @todos.each do |todo| %>
    <li>
      <strong><%= todo['name'] %></strong> - <%= todo['description'] %>
      <% if todo['done'] == 1 %>
        <span>(Done)</span>
      <% end %>
    </li>
  <% end %>
</ul>

<a href="/admin/users">Back to User List</a>
