<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>



<header>
    <h1>Todo Lista</h1>
    <form action="/logout" method="post" class="logout-form">
    <button type="submit" class="logout-button">Log Out</button>
</form>
</header>

<form action="/todo" method="post" class="todo-form">
    <input type="text" name="name" placeholder="New Task" required class="todo-input">
    <input type="text" name="description" placeholder="Description" required class="todo-input">
    <select name="folder_id">
    <option value="">No Folder</option>
    <% @folders.each do |folder| %>
        <option value="<%= folder['id'] %>"><%= folder['name'] %></option>
    <% end %>
    </select>

    <input type="submit" value="Add" class="todo-submit">
</form>

<form action="/folders/create" method="post" class="todo-form" style="margin-top: 5px;">
    <input type="text" name="name" placeholder="Folder name" required class="todo-input">

    <input type="submit" value="Create Folder" class="todo-submit">
</form>



<% @folders.each do |folder| %>
    <button class="folder-button" onclick="window.location.href='/folders/<%= folder['id'] %>'">
        <%= folder['name'] %>
    </button>
<% end %>

  </h1>
</body>
</html>
