<h2>Skapa en ny punkt</h2>
<h2>
<form method="post" action="/todo">
  <input type="text" name="name" placeholder="Name">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="Folder" placeholder="Folder">
  <input type="submit" value="Create">
</form>
</h2>